a {
    color:white;
}

body{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    background-color: white;
    min-width: 1040px;
}

footer{/* падвал */
    width:100%;
    height:100%;
    background-color: #1C1C1C;
    color:white;
    border-radius: 1%;
    display: flex;
    align-items: center;
    background-color:rgba(39, 48, 55);
    margin-top: 2%;
}

footer p {/* падвал */
    font-size: 100%;
    color:white;
    text-align: center;
    padding-left: 22%;
}

/*Выпадающее меню*/

* {box-sizing: border-box;}
body {
  margin: 0;
  background: #f2f2f2;
}
header {
  background: white;
  text-align: center;
}
header a {
  display: block;
  text-decoration: none;
  outline: none;  
  transition: .3s ease-in-out;
}
.logo {
  color: #912CEE;----
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  padding: 20px 0;
}
nav {
  display: table;
  padding-bottom:50em auto;
  background: #273037;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  width: 25%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
  padding: 10px 30px;
}
.topmenu li a:hover {color: #912CEE;} -------
.submenu-link:after {
  /*content: "\f107";*/
  font-family: 'Open Sans', sans-serif;
  color: inherit;
  margin-left: 10px;
}
.submenu {
  background: #273037;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
  opacity: 0;
    transform: scaleY(0);
    transform-origin :0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
    text-align: left;
    padding: 12px 15px;
    font-size: 17px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a {border-bottom: none;}
.topmenu > li:hover .submenu {
  opacity: 1;
    transform: scaleY(1);
}

/* шапка */
.page-header{
    min-height: 150px;
   /* padding-top: 35px;*/
    background-color: #363636;
    color: #FFF8DC;
    background: url("im/sha4.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    margin:;
}

.header-top{
 margin-bottom: ;   
}


.header-logo{
    float: left;
    width: 20%;
    margin-right: 0%;
    
}

.header-logo img{

    width: 150%;
    height: 250%;
    margin-bottom: 0%;
    margin: 0;
    margin-left:-80%; /* двиг. карт. */
 
}


.main-nav{
    list-style: none;
    float: left;
    width: 50%;
    margin: 0px;
    padding: 0px;
    margin-left: 55px;
    margin-top: 20px;
    color: black;
    background-color: ;
}

.main-nav  li{
    text-transform: uppercase;
    float: left;
    margin-right: -4px;
    margin-bottom: 8px;
   
}

.main-nav li:last-child{
    margin-right: 0px;

}

.main-nav a{
    color: white;
    text-decoration:  none;
    padding: 8px 20px;
    color: #FFFFFF;
    
}

.main-nav li:hover{
    border-bottom: 2px solid white;
   transition: 0.2s;
}

.main-nav a:active{
     color: rgba(0, 0, 0, 0.5);
}

.promo{
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold; 
    text-align: center;
}

.promo a{
    color: white;
    text-decoration: none;
   text-shadow: 2px 2px 2px #111111;

}


/*wraper*/
.wraper{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 0 0 0% 0;
    background-color: white;
}

.wrap{
    padding: 1%;
    color: gray;
}






/*/\/\/\*/

/* отдельно */
.container{
    width: 1020px;
    margin: 0 auto;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;

}

.btn{
    color: rgb( 85 26 139);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    border: 2px solid rgb(  85 26 139);
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    font: inherit;
    border-radius: 10px;
    background: white;
}

.btn:hover{
    color: #912CEE;
    border-color: #912CEE;
}
.btn:active{
    color: rgba(125 38 205,0.3);
    border-color: #912CEE;
}
.btn-quick-order{
    float: right;
    margin-top: 6px;
    border-color: white;
    color: white;
    border-radius: 10px;
}
.btn-quick-order:hover{
    color: rgb(125 38 205);
    background-color: white;
    border-color: white;

}
.btn-quick-order:active{
  color: rgba(125 38 205, 0.3);
  border-color: white;
  background-color: white;
}
/* 1 пункт */

.features{
    padding-top: 50px;
    padding-bottom: 55px;
}

.features ul{

    list-style: none;
    margin: 0px;
    padding: 0px;
}

.feature-item {
    text-align: center;
    border-left: 1px solid #d9d9d9;
    padding-top:  110px;
    float: left;
    width: 279px;
    padding-left: 30px;
    padding-right: 30px;

}
.feature-item p{
    font-size: 16px;
    margin: 0px;
}
.feature-item:first-child{
    border-left: 1px solid transparent;
}

.feature-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 30px; 
    font-weight: bold;
    color: rgb(85 26 139);

    margin: 0px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.feature-choice{
     background:    url("Im/kach.jpg") top center no-repeat; 
}
.feature-quality{
   background:    url("Im/money.jpg") top center no-repeat; 
}

.feature-safety{
    background:   url("Im/brend.jpg") top center no-repeat; 
}

/* 2 пункт */

.popular-and-price,
.office
{
    padding-top: 0px;
    padding-bottom: 10px;
}

.catalog-item .btn,
.machinse-item .btn{
    width: 101px;
    color: white;
    background-color: rgb( 85 26 139);

}
.catalog-item img,
.machinse-item img{
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 306px;
    height: 206px;
}
 .catalog-item:last-child,
 .machinse-item:last-child
  {
     margin: 0px;
 }
.catalog-item,
.machinse-item{
    font-size: 16px;
    float: left;
    width: 262px;
    margin-right: 48px;
    border: 1px solid #d8d8d8;
    padding: 15px 22px;
    position: relative;
    padding-top: 221px;
}

}
.popular-item,
.office-items{
     margin-bottom: 50px;
}

.catalog-item .btn-info,
.machinse-item .btn-info{
     float: left;
     clear: left;

}
.catalog-item .btn-buy,
.machinse-item .btn-buy{
     float: right;
     clear: right;
     
}

.catalog-item h3,
.machinse-item h3{
    font-size: 16px;
    color: #000000;
    float: left;
    max-width: 205px;
    margin: 0px;
    margin-bottom: 20px;
}
.popular-and-price .container,
.office .container{
    position: relative;
}
.catalog-item-price{
    position: relative;
    float: right;
    max-width: 55px;
    margin-bottom: 20px;
}

.to-catalog{
    position: absolute;
    top: 0px;
    right: 0px;
}
.catalog-item .btn:hover {
    background-color: #228B22;
    color:white;
}

.catalog-item .btn:active {
    color: rgba(255, 255, 255, 0.3);
}



/* кнопки подвала вк инст. фейс. */
.social-btn{
    color: #7D26CD;
    text-decoration: none;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    border: 50px solid rgba(85 26 139, 0.1);
     font-size: 0;
}


.vkk{
    margin-left: 1%;

}
.in{
margin-left: 1%;
}

.fei{
    margin-left: 1%;
}
b{

    color: red;
    padding-left: 10%;
}
.b{
color: white;
}

.vkk:hover{
    color: #1E90FF;

}
.in:hover{
    color: #FFD700;
}

.fei:hover{
    color: #1E90FF;
}

/* 3 пункт */

.reviews{
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: #DCDCDC;
}
.reviews .container{
    position: relative;
}
.to-all-reviews{
    position: absolute;
    top: 0px;
    right: 0px;
}
.review-item{
    font-size: 16px;
    border-left: 3px solid rgb(0, 100, 0);
    float: left;
      width: 377px;
    margin: 0px;
    margin-right: 80px;
    padding: 0px;
    padding-left: 50px;
}
.review-item p{
    margin: 0px;
    margin-bottom: 15px;
}
.review-author{
    font-weight: bold;
    font-style: italic;
}

/* 4 пункт */

.feedback{
    background-color: url("im/CAR7.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #f2f2f2;

}


.feedback-tip{
    font-size: 20px;
}
.feedback-form-group label{
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    color:black;
    text-shadow:  1px #111111;
}
.feedback-form{
    width: 630px;
}
.feedback-form input[type="text"] {
    font: inherit;
    color: inherit;
    border: 2px solid #d5d5d5;
    padding:9px;
    margin-right: 100%;
}
.feedback-form input[type="text"]:hover{
    border-color: #bebebe;
}
.feedback-form input[type="text"]:focus{
    border-color: #8d745a;
}

.section-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    color: rgb( 85 26 139);
     margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 60px;
    margin-right: 180px;
}




/*каталог*/
.catalog_banner{
	min-height: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url("image/banner.jpg");
	background-attachment: fixed;
}
.catalog_banner h1{
	text-align: center;
	padding-top: 0px;
	color: #373737;
	font-size: 27px;
	
}

.catalog_middle{
	margin: 0 auto;
	max-width: 1080px;
}
.catalog_item{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.block{
	height: 500px;
	width: 31%;
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	border-radius: 100px;
    box-shadow: 5px 5px 10px 2px rgba( 85, 26, 139, 0.7);
	position: relative;
}
.image_info{
	width: 200px;
	height: 200px;
	margin: 20px 60px;
	z-index: 0;
}
.image_info img{
	width: 200px;
	height: 200px;
	z-index: 999;
    font-size: 10%;

}
.image_info img:hover{
	transform: scale(1.1);
	transition: 0.3s;
}

.image_info h4{
	color: #373737;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	margin-top: 2px;
}
#cost{
	font-size: 30px;
	margin-top: 7px;
	color: #FF0000;
	font-weight: 600;
}
.block span{
	text-align: center;
	margin-top: 25px;
	font-size: 18px;
	color: #696969;
}
.block p{
	font-size: 15px;
	margin: 0px 15px;
	color: #696969;
	margin-top: 10px;
	height: 70px;
}
button{
	position: absolute;
	bottom: 25px;
	left: 90px;
	padding: 10px 20px;
	background-color: #551A8B;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
button a{
	font-size: 18px;
	color: white;	

}
button:hover{
	background-color: #7D26CD;
	transition: .2s;
}
button img{
	padding-right: 7px;
	vertical-align: middle;
	padding-bottom: 5px;
}
.icon{
	display: inline-block;
	height: 60px;
	width: 60px;
	background-image: url(image/icon_hit.png);
	position: absolute;
	top: 0px;
	right: 20px;
}
.icon_new{
	display: inline-block;
	height: 60px;
	width: 60px;
	background-image: url(image/icon_new.png);
	position: absolute;
	top: 0px;
	right: 20px;
}

