* {box-sizing: border-box;}
a {
    color:white;
}

body{
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #404040;
  background-color: white;
  min-width: 1040px;
  margin: 0;
  background: #f2f2f2;

}

footer{/* падвал */
    width:100%;
    height:100%;
    background-color: #1C1C1C;
    color:white;
    border-radius: 1%;
    display: flex;
    align-items: center;
    background-color:rgba(39, 48, 55);
    margin-top: 0.1%;
}

footer p {/* падвал */
    font-size: 100%;
    color:white;
    text-align: center;
    padding-left: 22%;
}


/*Выпадающее меню*/

/** {box-sizing: border-box;}*/
/*body {
  margin: 0;
  background: #f2f2f2;
}*/
header {

    width:100%;
  height: 200px;
    background-color: #1C1C1C;
/*    color:white;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;*/
    background-color:rgba(60,60,60,1);


  background: white;
  text-align: center;
}
header a {
  display: block;
  text-decoration: none;
  outline: none;  
  transition: .3s ease-in-out;
}
/*.logo {
  color: #912CEE;*/    /*цвет*/
/*  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  padding: 20px 0;
}*/
nav {
  display: table;
  padding-bottom:50em auto;
  background: #273037;

}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
  
}
.topmenu > li {
  width: 25%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
  padding: 10px 30px;
}
.topmenu li a:hover {color: #912CEE;}/*цвет*/
.submenu-link:after {
  /*content: "\f107";*/
  font-family: 'Open Sans', sans-serif;
  color: inherit;
  margin-left: 10px;
}
.submenu {
  background: #273037;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
  opacity: 0;
    transform: scaleY(0);
    transform-origin :0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
    text-align: left;
    padding: 12px 15px;
    font-size: 17px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a {border-bottom: none;}
.topmenu > li:hover .submenu {
  opacity: 1;
    transform: scaleY(1);
}
/* шапка */
.page-header{
  min-height: 150px;
   /* padding-top: 35px;*/
  background-color: #363636;
    color: #FFF8DC;
    background: url("im/sha4.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    margin:;
}

.header-top{
 margin-bottom: ;   
}

.header-logo{
    float: left;
    width: 20%;
    margin-right: 0%;
    
}

.header-logo img{

    width: 150%;
    height: 250%;
    margin-bottom: 0%;
    margin: 0;
    margin-left:-80%; /* двиг. карт. */
 
}

.main-nav{
    list-style: none;
    float: left;
    width: 50%;
    margin: 0px;
    padding: 0px;
    margin-left: 55px;
    margin-top: 20px;
    color: black;
    background-color: ;
    margin-left: -2em;
}

.main-nav  li{
    text-transform: uppercase;
    float: left;
    margin-right: -4px;
    margin-bottom: 8px;
   
}

.main-nav li:last-child{
    margin-right: 0px;

}

.main-nav a{
    color: white;
    text-decoration:  none;
    padding: 8px 20px;
    color: #FFFFFF;
    
}

.main-nav li:hover{
    border-bottom: 2px solid white;
   transition: 0.2s;
}

.main-nav a:active{
     color: rgba(0, 0, 0, 0.5);
}

.promo{
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  line-height: 55px;
  font-weight: bold; 
  text-align: center;
}

.promo a{
  color: white;
  text-decoration: none;
   text-shadow: 2px 2px 2px #111111;

}

/*wraper*/
.wraper{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 0 0 0% 0;
    background-color: white;
}

.wrap{
    padding: 1%;
    color: gray;
}




.check_in_middle{
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.login_reg,
.check_in{
  margin: 60px 100px;
}
.login_reg h2,
.check_in h2{
  /*font-family: 'Indie Flower', cursive;*/
  font-weight: normal;
  font-size: 28px;
}
.login_reg form,
.check_in form{
  display: flex;
  flex-direction: column;
}
.on input,
.new input{
  border: 1px solid #cbcbcb;
  padding: 12px 18px;
  width: 270px;
  margin: 17px 0;
  font-size: 15px;
  color: #696969;
  border: 1px solid #912cee;
  box-shadow: 3px 3px 3px #912cee, 0px 0px #912cee inset;
  border-radius: 5px;
}
.on input:focus,
.new input:focus{
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

.on p{
  margin-top: 28px;
  font-size: 20px;
}
.checkbox_emal{
  display: none;

}
.check_box label{
  cursor: pointer;
  border: 1px solid #cbcbcb;
  width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 5px;

}
.check_box input[type=checkbox]:checked + label:before{
  content: "";
  background-image: url("../image/icons/checkbox_black.png");
    text-align: center;
    width: 20px;
    height: 18px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
.check_box p{
  color: #696969;
  font-size: 13px;
  vertical-align: middle;
  margin-left: 10px;
  width: 70%;
    margin-top: 5px;
    display: inline-block;
}
.reg_in{
  background-color: #373737;
  padding: 10px 30px;
  color: white;
  margin-top: 20px;
  width: 240px;
  border: 1px solid #fff;
  font-size: 15px;
  font-weight: 520;
}
.check_in input:focus:invalid,
.login_reg input:focus:invalid {
  background: #fff url(../image/icons/invalid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535
}

.check_in input:focus:valid,
.login_reg input:focus:valid {
  background: #fff url(../image/icons/valid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}








/*/\/\/\*/

/* отдельно */
.container{
    width: 1020px;
    margin: 0 auto;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;

}

.bat{
  margin-left: 30%;
}
.but{
    margin-right: 30%;
}
.btn{
    /*margin-left: 30%;*/
    color: rgb( 85 26 139);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    border: 2px solid rgb(  85 26 139);
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    font: inherit;
    border-radius: 10px;
    background: white;
}

.btn:hover{
    color: #912CEE;
    border-color: #912CEE;
}
.btn:active{
    color: rgba(125 38 205,0.3);
    border-color: #912CEE;
}
.btn-quick-order{
  float: right;
  margin-top: 6px;
    border-color: white;
    color: white;
    border-radius: 10px;
}
.btn-quick-order:hover{
    color: rgb(125 38 205);
    background-color: white;
    border-color: white;

}
.btn-quick-order:active{
  color: rgba(125 38 205, 0.3);
  border-color: white;
  background-color: white;
}




/* кнопки подвала вк инст. фейс. */
.social-btn{
    color: #7D26CD;
    text-decoration: none;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    border: 50px solid rgba(85 26 139, 0.1);
     font-size: 0;
}


.vkk{
    margin-left: 1%;

}
.in{
margin-left: 1%;
}

.fei{
    margin-left: 1%;
}
b{

    color: red;
    padding-left: 10%;
}
.b{
color: white;
}

.vkk:hover{
    color: #1E90FF;

}
.in:hover{
    color: #FFD700;
}

.fei:hover{
    color: #1E90FF;
}

